{% extends 'body.html' %}
{% load static widget_tweaks %}
{% block content %}
    <div class="row py-3">
        <div class="col-10">
            <legend class="text-start">{{ title }}</legend>
        </div>
    </div>
    <!--Detalles del proyecto-->
    <div class="card">
        <div class="row g-0">
            <div class="col-sm-2">
                <img src="{{ object.get_logo }}" class="img-fluid rounded-start" alt="...">
                <div class="m-1">
                    <a href="{% url 'project-update' object.pk %}" class="btn btn-sm btn-outline-secondary ">
                        <i class="mdi mdi-square-edit-outline"></i>Editar</a>
                    <button rel="del-project" class="btn btn-outline-secondary btn-sm" name="{{ object.id }}">
                        <i class="mdi mdi-delete-outline"></i>Eliminar
                    </button>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="card-body pb-0">
                    <dl class="row g-1">
                        <dt class="col-sm-2">Nombre:</dt>
                        <dd class="col-sm-10">{{ object.nombre }}</dd>

                        <dt class="col-sm-2">Abreviación:</dt>
                        <dd class="col-sm-10">{{ object.abreviacion }}:</dd>

                        <dt class="col-sm-2">Programa:</dt>
                        <dd class="col-sm-10">{{ object.programa }}</dd>

                        <dt class="col-sm-2 text-truncate">Código:</dt>
                        <dd class="col-sm-10">{{ object.codigo }}</dd>

                        <dt class="col-sm-2 text-truncate">Tipo:</dt>
                        <dd class="col-sm-10">{{ object.get_tipo_display }}</dd>

                        <dt class="col-sm-2 text-truncate">Área administrativa:</dt>
                        <dd class="col-sm-10">{{ object.area }}</dd>

                        <dt class="col-sm-2 text-truncate">Resumen del proyecto:</dt>
                        <dd class="col-sm-10">{{ object.resumen }}</dd>

                        {% comment %}                <dt class="col-sm-3">Nesting</dt>
                <dd class="col-sm-9">
                    <dl class="row">
                        <dt class="col-sm-4">Nested definition list</dt>
                        <dd class="col-sm-8">I heard you like definition lists. Let me put a definition list inside your
                            definition list.
                        </dd>
                    </dl>
                </dd>{% endcomment %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!--Listado de miembros asociados-->
    <div class="row py-3">
        <div class="col-8">
            <legend class="text-start">Miembros asociados</legend>
        </div>
        <div class="col-4 text-end">
            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" id="create-member">
                Crear miembro nuevo
            </button>
            <button class="btn btn-secondary rounded-pill">Asignar miembro existente</button>
        </div>
    </div>
    <div class="card ">
        <div class="card-body table-responsive pb-0">
            <table class="table table-hover ">
                <caption>Mostrando {{ object_list.count }} {% if object_list.count == 1 %}
                    resultado{% else %} resultados {% endif %}</caption>
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Carnet Id.</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Categoría ocupacional</th>
                    <th scope="col">% de participación</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% if object_list %}
                    {% for object in object_list %}
                        <tr>
                            <td>
                                <a href="#" style="text-decoration: none;color: inherit;"
                                   class="fw-semibold">{{ object.nombre }} {{ object.apellidos }}</a>
                            </td>
                            <td>{{ object.ci }}</td>
                            <td>{{ object.rrhh.get_cargo_display }}</td>
                            <td>{{ object.get_categoria_ocupacional_display }} ({{ object.categoria_ocupacional }})</td>
                            <td>{{ object.rrhh.porciento_de_participacion|floatformat:0 }} %</td>
                            <td>
                                <button rel="edit" id="{{ object.id }}" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"
                                        class="btn btn-sm btn-outline-warning rounded-pill">
                                    <i class="mdi mdi-square-edit-outline"></i>
                                </button>
                                <a href="#" class="btn btn-sm btn-outline-danger rounded-pill">
                                    <i class="mdi mdi-delete-outline"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    {% include 'project/modal_form_details.html' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/details_project.js' %}"></script>
    <script>
      document.querySelectorAll('button[rel=del-project]').forEach(e => e.addEventListener('click', function () {
        let params = new FormData()
        params.append('action', 'del-project')
        params.append('pk', this.name)
        let nombre = '{{ object.abreviacion }}'
        submit_with_ajax_alert(location.pathname, 'Eliminar', `Estás seguro de que desea eliminar el proyecto <b>${nombre}</b>?`,
          params, () => {
            location.replace('{% url 'project-list' %}')
          }, 'mdi mdi-alert-decagram text-danger mdi-18px')
      }))
    </script>
    <script>
      {% if form.errors %}
        let errors = '';
        {% for field in form %}
          {% for error in field.errors %}
            errors += '{{ error }}\n';
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          errors += '{{ error }}\n';
        {% endfor %}

        Swal.fire({
          title: 'Error',
          text: errors,
          icon: 'error'
        });
      {% endif %}
    </script>
{% endblock %}